body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: 2px solid #ddd;
}

.images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
